@import "tailwindcss";


:root {
  --background: white;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;

}

.custom-primary
{
  color: #09637e;
}

/* Top bar */
#nprogress .bar {
  background: #0F766E !important; /* blue */
  height: 3px;
}

/* Remove spinner */
#nprogress .spinner {
  display: none !important;
}

/* Glow effect */
#nprogress .peg {
  box-shadow: 0 0 10px #0F766E, 0 0 5px #0F766E;
}
