@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --background: #ffffff;        /* Light background */
  --foreground: #171717;        /* Dark text */
  --primary-color: #09637e;     /* Custom primary */
  --secondary-color: #7AB2B2;   /* Secondary accent */
  --highlight-color: #0F766E;   /* Highlight / hover */
}



/* Theme mapping */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;

}

.custom-primary
{
  color: #09637e;
}

/* Top bar */
#nprogress .bar {
  background: #0F766E !important; /* blue */
  height: 3px;
}

/* Remove spinner */
#nprogress .spinner {
  display: none !important;
}

/* Glow effect */
#nprogress .peg {
  box-shadow: 0 0 10px #0F766E, 0 0 5px #0F766E;
}

.scrollbar-theme::-webkit-scrollbar {
  width: 8px;
  background: transparent; /* Light mode track is invisible */
}

.scrollbar-theme::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Light mode thumb */
  border-radius: 9999px;
}

/* Dark mode scrollbar */
.dark .scrollbar-theme::-webkit-scrollbar-thumb {
  background-color: #1092ba; /* Blue thumb in dark mode */
}

.scrollbar-theme {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(0,0,0,0.3) transparent; /* Light mode Firefox */
}

/* Dark mode Firefox */
.dark .scrollbar-theme {
  scrollbar-color: #1092ba transparent; /* Dark mode Firefox */
}